@charset "UTF-8";


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text-dark:    #1F2937;
    --blue-darkest: #232573;
    --blue-dark:    #4B4FED;
    --blue-primary: #5A67FF;
    --blue-bg:      #6A6FF2;
    --blue-light:   #7B8CFF;
}

html {
    scroll-behavior: smooth;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1.3s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.3s;
}
